* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.hamburger-box {
    transform: scale(0.7);
}

.cart {
    background-color: #FFFFFF;
    border: none;
}
.cart img {
    width: 25px;
}

/* HEADER */
.banner-box {
    background-image: url('../asset/food-bg-min.jpg');
    background-size: cover;
    background-blend-mode: overlay;
}

/* SECTION */
.card-slider {
    width: 200px !important;
    height: 260px;
    background-color: transparent;
}

